.main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: white;
  }
  
  .main-menu-container .MuiTypography-h4 {
    margin-bottom: 20px;
  }
  
  .main-menu-container .MuiButton-containedPrimary {
    margin: 10px;
    background-color: #4e4e4e;
  }
  
  .main-menu-container .MuiButton-containedPrimary:hover {
    background-color: #3e3e3e;
  }
  